* {
    box-sizing: border-box;
}

body{ margin:0px; padding:0px;}

.head{ width:100%; min-height:50px; background-color:#1D91C8; padding:12px;}

.head>a{ color:#F1F1F1; font-family:Courier New; text-decoration:none; font-size:22px; margin:15px 15px 15px -7px; padding:8px 14px;}

.head>a:hover{ border-bottom:6px solid #1E67AE; color:#FFF;}
.head>a:active{ border-bottom:6px solid #1E67AE; color:#FFF;}

.head_r{ width:100%; min-height:50px; background-color:#1D91C8; padding:12px; text-align:center;}

.head_r>a{ color:#F1F1F1; font-family:Courier New; text-decoration:none; font-size:22px; margin:15px 15px 15px -7px; padding:8px 14px;}

.main{ width:100%;  padding:15px; margin-top:10px;}

.box{ width:30%; min-height:100px;   float:left; margin:10px; text-align:center;  padding:15px; cursor:default;}

.box>h2{ font-weight:400; font-family:Courier New;}
.an{background-color:#a4c639; color:#fff;} 
.ap{background-color:#00bcf2; color:#fff;}
.bb{background-color:#788cb6; color:#fff;}
.lu{background-color:#f65314; color:#fff;}
.gm{background-color:#2890A7; color:#fff;}


.an>p>a{ color:#fff; text-decoration:none;}
.an>p{background-color:#78961A; color:#fff; margin:0px; }
.an>p:hover{ background-color:#4D533C; }

.ap>p>a{ color:#fff; text-decoration:none;}
.ap>p{background-color:#1387A8; color:#fff; margin:0px; }
.ap>p:hover{ background-color:#27758C }

.bb>p>a{ color:#fff; text-decoration:none;}
.bb>p{background-color:#61708F; color:#fff; margin:0px; }
.bb>p:hover{ background-color:#475572; }

.lu>p>a{ color:#fff; text-decoration:none;}
.lu>p{background-color:#CF5728; color:#fff; margin:0px; }
.lu>p:hover{ background-color:#BF542A; }

.gm>p>a{ color:#fff; text-decoration:none;}
.gm>p{background-color:#18768C; color:#fff; margin:0px; }
.gm>p:hover{ background-color:#155D6E; }

.mo{  width: 100px; height: 100px; background:#D5E4EC;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	margin:0% 33%; padding:20px; border:1px solid #1D91C8; 
}
.mo>p>a{ text-decoration:none; color:#1D91C8; font-family:Courier New; font-size:24px;}
.mo:hover{background-color:#1D91C8;}
.mo>p>a:hover{ color:#f1f1f1;}

.more{ width:30%; min-height:100px;   float:left; margin:10px; text-align:center;  padding:9px;}

.applist{ width:100%; min-height:80px; background-color:#f1f1f1; float:left; margin-top:15px; text-align:center;}

.applist>h3{ font-family:Courier New; font-weight:400; font-size:22px; cursor:default;}
