@media(min-width:100px){
.header_r{display:none;}
}

@media(max-width:600px)
{
.header{display:none;}
.header_r{display:block;}
.trend{ width:100%; text-align:center; border-bottom: 1px solid #f1f1f1;}
.wall{ width:100%;}
}
